template config file: config-4bg.temp
executable name: membership_server_baseline
deploy dir: /ssd1/q7duan/
username: q7duan
deploy folder prefix: membership_deploy_
network interface name: enp130s0
inter-bg bandwidth in mbps: 1000
inter-bg roundtrip latency in ms: 100
intra-bg roundtrip latency in ms: 10
BEGIN_RUN_DESCRIPTION
# rate, tag, length in second
3000, rate-3000-4bg-baseline-run-1, 120
3000, rate-3000-4bg-baseline-run-2, 120
