template config file: config-3bg.temp
executable name: membership_server
deploy dir: /ssd1/q7duan/
username: q7duan
deploy folder prefix: membership_deploy_
network interface name: enp130s0
inter-bg bandwidth in mbps: 1000
inter-bg roundtrip latency in ms: 100
intra-bg roundtrip latency in ms: 10
BEGIN_RUN_DESCRIPTION
# rate, tag, length in second
1000, rate-1000-3bg-run-1, 300
1000, rate-1000-3bg-run-2, 300
1000, rate-1000-3bg-run-3, 300
#
2000, rate-2000-3bg-run-1, 300
2000, rate-2000-3bg-run-2, 300
2000, rate-2000-3bg-run-3, 300
#
3000, rate-3000-3bg-run-1, 300
3000, rate-3000-3bg-run-2, 300
3000, rate-3000-3bg-run-3, 300
#
4000, rate-4000-3bg-run-1, 300
4000, rate-4000-3bg-run-2, 300
4000, rate-4000-3bg-run-3, 300