template config file: config-4bg.temp
executable name: membership_server_baseline
deploy dir: /ssd1/q7duan/
username: q7duan
deploy folder prefix: membership_deploy_
network interface name: enp130s0
inter-bg bandwidth in mbps: 1000
inter-bg roundtrip latency in ms: 100
intra-bg roundtrip latency in ms: 10
BEGIN_RUN_DESCRIPTION
# rate, tag, length in second
1000, rate-1000-4bg-baseline-run-1, 300
1000, rate-1000-4bg-baseline-run-2, 300
1000, rate-1000-4bg-baseline-run-3, 300
#
1500, rate-1500-4bg-baseline-run-1, 300
1500, rate-1500-4bg-baseline-run-2, 300
1500, rate-1500-4bg-baseline-run-3, 300
#
2000, rate-2000-4bg-baseline-run-1, 300
2000, rate-2000-4bg-baseline-run-2, 300
2000, rate-2000-4bg-baseline-run-3, 300
#
2500, rate-2500-4bg-baseline-run-1, 300
2500, rate-2500-4bg-baseline-run-2, 300
2500, rate-2500-4bg-baseline-run-3, 300
#
3000, rate-3000-4bg-baseline-run-1, 300
3000, rate-3000-4bg-baseline-run-2, 300
3000, rate-3000-4bg-baseline-run-3, 300