template config file: config.temp
executable name: membership_server
deploy dir: /ssd1/q7duan/
username: q7duan
deploy folder prefix: membership_deploy_
network interface name: enp130s0
inter-bg bandwidth in mbps: 1000
inter-bg roundtrip latency in ms: 150
intra-bg roundtrip latency in ms: 20
BEGIN_RUN_DESCRIPTION
# rate, tag, length in second
5000, rate-5000-run-1, 60
